{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    <meta charset="UTF-8">
    <title>Vote</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'gallery' %}">
                <div class="subtitle is-2">
                    ANITS Photography Contest
                </div>
            </a>

            <!--<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">-->
                <!--<span aria-hidden="true"></span>-->
                <!--<span aria-hidden="true"></span>-->
                <!--<span aria-hidden="true"></span>-->
            <!--</a>-->
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'register' %}">
                            <strong>Register</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="card column is-half is-offset-one-quarter is-full-tablet">
        <div class="box">
            You need to login with {{ email }} to cast your vote.
        </div>

        <a class="button" href="{% url 'social:begin' 'google-oauth2' %}">
            Login
        </a>
    </div>
</body>
</html>