{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    <meta charset="UTF-8">
    <title>Vote</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'gallery' %}">
                <div class="subtitle is-2">
                    CURSORS Photography Contest
                </div>
            </a>

            <!--<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">-->
                <!--<span aria-hidden="true"></span>-->
                <!--<span aria-hidden="true"></span>-->
                <!--<span aria-hidden="true"></span>-->
            <!--</a>-->
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'register' %}">
                            <strong>Register</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <br>

    <div class="card column is-10 is-offset-1 is-full-mobile">
        <div class="box is-size-3-touch has-text-weight-light">
            <div class="content">
                <h3 class="title is-3">Instructions</h3>
                <ul>
                    <li>Clicking the <i>Login</i> button will redirect you to the google login page.</li>
                    <li>You will need to login with <i>{{ email }}</i> to confirm your vote.</li>
                    <li>Upon successful login, your vote will be counted and you will be taken to the gallery.</li>
                    <li>
                        Unlike social media platforms where you can vote any number of pictures,
                        you can cast only one vote to one picture.
                    </li>
                </ul>
            </div>
        </div>

        <a class="button is-info is-size-3-touch" href="{% url 'social:begin' 'google-oauth2' %}">
            Login
        </a>
    </div>

    <section class="section">
        <div class="has-text-centered has-text-weight-light is-size-4-touch">
            Designed & Developed by Ajay Raj Nelapudi &#128513;
        </div>
    </section>
</body>
</html>