{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    <meta charset="UTF-8">
    <title>Vote</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'gallery' %}">
                <div class="subtitle is-2">
                    CURSORS Photography Contest
                </div>
            </a>

            <!--<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">-->
                <!--<span aria-hidden="true"></span>-->
                <!--<span aria-hidden="true"></span>-->
                <!--<span aria-hidden="true"></span>-->
            <!--</a>-->
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'register' %}">
                            <strong>Register</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <br>

    <div class="card column is-10 is-offset-1 is-full-mobile has-text-centered">
        <div class="box is-size-3-touch">
            You will need to login with <i>{{ email }}</i> to confirm your vote.
        </div>

        <a class="button is-info is-size-3-touch" href="{% url 'social:begin' 'google-oauth2' %}">
            Login
        </a>
    </div>
</body>
</html>