{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    <meta charset="UTF-8">
    <title>Gallery</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'gallery' %}">
                <img src="https://voteo.s3.ap-south-1.amazonaws.com/logos/voteo.jpeg">
            </a>

            <!--<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">-->
                <!--<span aria-hidden="true"></span>-->
                <!--<span aria-hidden="true"></span>-->
                <!--<span aria-hidden="true"></span>-->
            <!--</a>-->
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
               <a class="navbar-item" href="{% url 'gallery' %}">
                    Gallery
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'register' %}">
                            <strong>Register</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="columns is-multiline">
        {% for picture in pictures %}
            <a class="column is-one-quarter-desktop is-full-tablet" href="{% url 'vote' email=picture.email %}">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-3by2">
                            <img src="{{ picture.picture.url }}">
                        </figure>
                        <div class="card-content is-overlay is-clipped">
                            <span class="tag is-info is-size-3-touch">
                                {{ picture.votes }} <p>&nbsp; &hearts;</p>
                            </span>
                        </div>
                    </div>
                    <footer class="card-footer is-dark">
                        <div class="card-footer-item is-size-3-touch">
                            {{ picture.title }}
                        </div>
                    </footer>
                </div>
            </a>
        {% endfor %}
    </div>

    <section class="section">
        <div class="has-text-centered has-text-weight-light is-size-4-touch">
            Designed & Developed by Ajay Raj Nelapudi &#128513;
        </div>
    </section>
</body>
</html>