{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'gallery' %}">
                <img src="https://voteo.s3.ap-south-1.amazonaws.com/logos/voteo.jpeg">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'gallery' %}">
                    Gallery
                </a>
            </div>
        </div>
    </nav>
    <br>

    <div class="box column is-three-fifths is-offset-one-fifth">
        <form method="POST" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}

            <table class="table is-fullwidth is-bordered" align="center">
                <tr>
                    <td class="is-size-5-touch">Name</td>
                    <td class="is-size-5-touch">{{ contestant.name }}</td>
                </tr>
                <tr>
                    <td class="is-size-5-touch">Email</td>
                    <td class="is-size-5-touch">{{ contestant.email }}</td>
                </tr>
                <tr>
                    <td class="is-size-5-touch">Instagram</td>
                    <td class="is-size-5-touch">{{ contestant.social_account }}</td>
                </tr>
                <tr>
                    <td class="is-size-5-touch">Picture</td>
                    <td class="is-size-5-touch">{{ contestant.picture }}</td>
                </tr>
                <tr>
                    <td class="is-size-5-touch">Title</td>
                    <td class="is-size-5-touch">{{ contestant.title }}</td>
                </tr>

                <tr><td class="has-text-centered" colspan="2">
                        <button class="button is-link" type="submit">Upload</button>
                </td></tr>
            </table>
        </form>
    </div>

    <section class="section">
        <div class="has-text-centered has-text-weight-light is-size-4-touch">
            Designed & Developed by Ajay Raj Nelapudi &#128513;
        </div>
    </section>
</body>
</html>