{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    <meta charset="UTF-8">
    <title>Vote</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'gallery' %}">
                <div class="subtitle is-2 is-size-1-touch">
                    CURSORS Photography Contest
                </div>
            </a>

            <!--<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">-->
                <!--<span aria-hidden="true"></span>-->
                <!--<span aria-hidden="true"></span>-->
                <!--<span aria-hidden="true"></span>-->
            <!--</a>-->
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'register' %}">
                            <strong>Register</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="card has-text-centered">
        <div class="card-header">
            <div class="card-header-title is-centered is-size-3-touch">
                {{ picture.title }}
            </div>
        </div>
        <div class="card-image">
            <figure>
                <img src="{{ picture.picture.url }}">
            </figure>
        </div>
        <div class="card-footer">
            <div class="card-footer-item is-size-4-touch">
                {{ picture.votes }} &nbsp; &hearts;
            </div>
        </div>
    </div>

    <div class="box column is-three-fifths is-offset-one-fifth">
        <a class="box is-size-4-touch" href="{{ picture.social_account }}">
            {{ picture.name }}
        </a>

        <form method="POST" autocomplete="off">
            {% csrf_token %}

            <div class="box is-size-4-touch">
                Email
                {{ voter_form.email }}
            </div>

            <button class="button is-info is-size-5-touch" type="submit">
                Vote &nbsp; &#128077;
            </button>
        </form>
    </div>


    <section class="section">
        <div class="has-text-centered has-text-weight-light is-size-4-touch">
            Designed & Developed by Ajay Raj Nelapudi &#128513;
        </div>
    </section>

</body>
</html>